.div-1 {
      background-color: #000000;
      colour: #FFFFFF;
}

.div-2 {
      background-color: #FFFFFF;
      colour: #000000;
}

.div-3 {
      background-color: #000000;
      colour: #FFFFFF;
}

      


h1, h2, h3, h4, h5, h6, p {
      text-align: center;
}


